body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.header-font{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
.flexible-container{
    display:flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left:7%;
}
.half-width img{
    width:95%;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(tomato, rgb(245, 131, 111));
    color:white;
    font-weight: 700;
    padding:10px 40px;
    border-radius:5px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right ;
}
.right-padding{
    padding-right: 8%;
}
#font-change{
    font-size: 40px;
}
.half-width p{
    color:rgb(102, 101, 101);
}
.font{
    font-size: 38px;
}
.experience-item{
    width:40%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding:25px;
    border-radius: 5px;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences h1{
    font-size: 40px;
}
#web-dev-experience{
    border-left:7px solid;
    border-image:linear-gradient(rgba(250, 113, 89, 0.89), rgba(243, 91, 64, 0.753));
    border-image-slice: 1;
}
#web-dev-experience2{
    border-left: 7px solid;
    border-image:linear-gradient(blue, rgb(3, 238, 255));
    border-image-slice:1;
    margin-right:5%;
}
footer p{
    text-align:center;
}